#logo {
    width: 25%;
    margin-top: 1em;
}

.title {
    text-align: right;
    text-transform: uppercase;
}

.title h1 {
    vertical-align: middle;
    display: inline;
}

.horizontal-line {
    width: 100% !important;
    border-width: 2px;
    border-color: black;
}

#main-img {
    width: 100%;
    margin-bottom: 1em;
}

.project-info {
    text-align: center;
}

.project-info img {
    width: 100%;
    height: 200px;
    padding: 1em;
}

.skills-certs {
    text-align: center;
}

.list {
    list-style: none;
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

ul {
    list-style: none;
}

.footer {
    text-align: center;
    background-color: black;
    padding-top: 1em;
    margin-top: 1em;
}

.footer-list {
    display: inline;
    padding: 1em;
    font-weight: bold;
    color: white;
}

.footer-list a {
    color: white;
    text-decoration: underline;
}